.header-navbar {
    background-color: rgba(8, 8, 8, 255);
}

.nav-link{
    color: #b5ad57 !important;
}

.back{
    background-color: rgb(245, 245, 220);
}

.navbar-toggler {
    --bs-navbar-toggler-border-color: #b5ad57;
    
}

footer {
    height: 100px;
    background-color: rgba(8, 8, 8, 255);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    
}

.text-footer{
    color: #b7ab3b;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.text-footer a{
    color: #b7ab3b;
    text-decoration: none;
    
}


.card-prod{
    margin: 5%;
    transition: transform 0.3s; 
  }
  



/*trabaja con nosotros*/
.form-conteiner{
    max-width: 500px;
      margin: 5% auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      
}

  .btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #000000; 
    --bs-btn-bg: #b5ad57;
    --bs-btn-border-color: #b5ad57;  
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #a49a4c; 
    --bs-btn-hover-border-color: #a49a4c;
    --bs-btn-focus-shadow-rgb: #b5ad57; 
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #8f8641; 
    --bs-btn-active-border-color: #8f8641; 
    box-shadow: 0 0 0 2px #000000;
    width: 100%; 
  }

  .btn-bd-secondary {
    background-color: #a49a4c;
      color: #000000;
      border-radius: 12px; /* Rounded corners */
  }

  @media (min-width: 768px) {
  .card-prod:hover {
    transform: scale(1.1); 
  }
  }




