<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajá con nosotros</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column min-vh-100 back">
    <header class="header-navbar ">
        <nav class="navbar navbar-expand-lg">
            <div class="container container-navbar">
                <a class="navbar-brand" href="#">
                    <img src="/images/Jalito.jpeg" alt="JalitoLogo" class="logo-image">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-column" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/views/home.html">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/aboutUs.html">CONOCENOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/products.html">PRODUCTOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/contact.html">CONTACTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" aria-current="page" href="#">TRABAJÁ CON NOSOTROS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1">
        <div class="container-fluid ">
            <div class="form-conteiner ">
                <form id="form-cv" method="get">
                    <p>¡Envianos tu CV!</p>
                    <div class="mb-3">
                        <input type="text" class="form-control " name="fname" id="fname" value="" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="lname" id="lname" value="" placeholder="Apellido">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="email" value="" placeholder="Correo electronico">
                        <br>
                    </div>
                    <div class="mb-3">
                        <label for="pdfFile" class="form-label">Adjuntar Curriculum Vitae</label>
                        <input class="form-control" type="file" id="pdfFile" name="pdfFile" accept="application/pdf">
                    </div>
                    <br>
                    <p class="mb-3">
                        <input type="button" id="btn-cv" class="btn btn-bd-primary" value="Enviar"
                            onclick="formController()">
                    </p>
                </form>
            </div>
        </div>
        <script>
            function validateEmail(email) {
                var re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
                return re.test(email);
            }
            
            function formController() {

                let send;
                send = true;
                let aux = "";


                if (document.getElementById('fname').value == '') {
                    aux += "-nombre\n";
                    send = false;
                }
                if (document.getElementById('lname').value == '') {
                    aux += "-apellido\n";
                    send = false;
                }

                let email = document.getElementById('email').value;
                if (document.getElementById('email').value == '') {
                    aux += "-correo electronico\n";
                    send = false;
                } else if (!validateEmail(email)) {
                    aux += "-email invalido\n";
                    send = false;
                }

                if (document.getElementById('pdfFile').value == '') {
                    aux += "-archivo PDF\n";
                    send = false;
                }

                if (send) {
                    document.getElementById('form-cv').submit();
                    window.location.href = "/views/home.html";
                }
                else {
                    alert("Faltan completar los siguientes campos: \n" + aux);
                }
            }
        </script>
    </main>


    <section>
        <footer class="mt-auto">
            <ul class="list-unstyled text-center">
                <li class="text-footer">
                    <i class="fas fa-map-marker-alt"></i> Rivadavia 115. Rafaela, Sta. Fe
                </li>
                <li class="text-footer">
                    <i class="fas fa-phone-alt"></i> 3492 - 15123456
                </li>
                <li class="text-footer">
                    <a href="https://www.instagram.com/jalito_rafaela/?hl=es-es">
                        <i class="fab fa-instagram"></i> Instagram </a>
                </li>
            </ul>

        </footer>
    </section>
</body>

</html>